.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.header__logo{
    height: 50px;
    border-radius: 50%;
}

@media (min-width:769px){
    .header__logo{
        height: 109px;
        width: 95px;
        left: 80px;
        top: 36px;
        border-radius: 50%;
    }
}

.header__burger{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    border: none;
    background: none;
}

.barra{
    height: 6px;
    width: 36px;
    background-color:white;
    margin-bottom: 5px;
}

@media (min-width:769px){
    .barra{
        display: none;
    }
}

.header__link{
    display: none;
}


@media (min-width:769px){
    .header__link{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 22px;
        display: flex;
        gap: 27px;
        justify-content: space-between;
        margin-right: 103px;   
    }
}

.header__menu-link{
    color: white;
    text-decoration: none;
}

.ventana{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  display: none;
}
@media (min-width:769px){
  .ventana{
    display: none;
  }
}

.ventana__cerrar{
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  color: #fff;
  font-size: 30px;

}

.header__ventana-menu{
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-family: "poppins";
  text-decoration: none;
  color: #fff;  
}
.ventana__contenido{
   width: 100%;
}

.ventana__menu-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
  gap: 58px;
  width: 100%;
}